LANGUAGE 0x11, 0x01

101  BITMAP    "data/images/win/candidate_window_logo_PBGRA32_100.bmp"
102  BITMAP    "data/images/win/candidate_window_logo_PBGRA32_125.bmp"
103  BITMAP    "data/images/win/candidate_window_logo_PBGRA32_150.bmp"
104  BITMAP    "data/images/win/candidate_window_logo_PBGRA32_200.bmp"

1 VERSIONINFO
FILEVERSION 2,30,5490,100
PRODUCTVERSION 2,30,5490,100
FILEOS 0x4
FILETYPE 0x1
{
  BLOCK "StringFileInfo"
  {
    BLOCK "041104b0"
    {
      VALUE "CompanyName", "Google Inc."
      VALUE "FileDescription", "Mozc Renderer"
      VALUE "FileVersion", "2.30.5490.100"
      VALUE "InternalName", "mozc_renderer"
      VALUE "LegalCopyright", "Copyright 2024 Google LLC. All Rights Reserved."
      VALUE "OriginalFilename", "mozc_renderer.exe"
      VALUE "ProductName", "Mozc"
      VALUE "ProductVersion", "2.30.5490.100"
    }
  }

  BLOCK "VarFileInfo"
  {
    VALUE "Translation", 0x0411 0x04B0
  }
}
