STRINGTABLE
LANGUAGE 0x9, 0x0
{
  103, 	"Mozc Installer (Ver. %1!s!)"
  104, 	"An unknown error occurred."
  106, 	"The installation was stopped because of an error at %1!s! (%2!u!)"
}

STRINGTABLE
LANGUAGE 0x11, 0x1
{
  103, 	"Mozc インストーラー (バージョン %1!s!)"
  104, 	"未知のエラーが発生しました。"
  106, 	"%1!s! (%2!u!) でエラーが発生したため、インストールを中止しました。"
}

1 VERSIONINFO
FILEVERSION 2,30,5490,100
PRODUCTVERSION 2,30,5490,100
FILEOS 0x4
FILETYPE 0x2
{
    BLOCK "StringFileInfo"
    {
        BLOCK "041104b0"
        {
            VALUE "CompanyName", "Google Inc."
            VALUE "FileDescription", "Mozc Installer Helper"
            VALUE "FileVersion", "2.30.5490.100"
            VALUE "InternalName", "mozc_installer_helper"
            VALUE "LegalCopyright", "Copyright 2024 Google LLC. All Rights Reserved."
            VALUE "OriginalFilename", "mozc_installer_helper.dll"
            VALUE "ProductName", "Mozc"
            VALUE "ProductVersion", "2.30.5490.100"
        }
    }

    BLOCK "VarFileInfo"
    {
        VALUE "Translation", 0x0411 0x04B0
    }
}
