STRINGTABLE
LANGUAGE 0x9, 0x0
{
  100, 	"Mozc Cache Service"
  101, 	"Always allocates conversion dictionary of Mozc into physical memory."
}

STRINGTABLE
LANGUAGE 0x11, 0x1
{
  100, 	"Mozc Cache Service"
  101, 	"Mozc の辞書を常に物理メモリに配置し、変換を高速化します。停止しても日本語入力はできますが、パフォーマンスが低下する場合があります。"
}

1 VERSIONINFO
FILEVERSION 2,30,5490,100
PRODUCTVERSION 2,30,5490,100
FILEOS 0x4
FILETYPE 0x1
{
    BLOCK "StringFileInfo"
    {
        BLOCK "041104b0"
        {
            VALUE "CompanyName", "Google Inc."
            VALUE "FileDescription", "Mozc Cache Service"
            VALUE "FileVersion", "2.30.5490.100"
            VALUE "InternalName", "mozc_cache_service"
            VALUE "LegalCopyright", "Copyright 2024 Google LLC. All Rights Reserved."
            VALUE "OriginalFilename", "mozc_cache_service.exe"
            VALUE "ProductName", "Mozc"
            VALUE "ProductVersion", "2.30.5490.100"
        }
    }

    BLOCK "VarFileInfo"
    {
        VALUE "Translation", 0x0411 0x04B0
    }
}
